a {
    text-decoration: none;
    font-size: 18px;
    color: #F9FAF8;
}

li{
    list-style: none;
    padding: 10px;   
}

.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;  
    color: white;
    align-items: center;    
}

.main {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
    margin: 0;
    align-content: flex-start;    
   }
    

ul{
    display:flex;
    flex-direction: row;
    justify-content: space-around;    
}

.logo{
    padding:10px;
    font-size: 24px;
    color: #F9FAF8; 
    }

.first {
    background-color: #1F2937;
    height: 25%;
    color: white;
    align-content: flex-start;   
    }

.first_header {
    font-size: 48px;
    font-weight: 800;
    
}

.subtext {
    font-size: 18px;
    max-width: 50%;
    margin-top: 0;
    align-self: flex-start;
    color: #E5E7EB;
    
   }

.below_header {
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
    align-items: stretch;
    
    
}
#bird {
    width: auto;
    height: 180px;
}

.first > * {
    padding-left: 48px;
    padding-right: 48px;
}

.below_header_left {
    display:flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    padding: 0px;
    max-width: 50%;  
    gap: 8px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 100px;
    height: 40px;
    font-weight:bold;
    font-size: 14px;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
    border: 4px;
    margin-top: 8px;
   
    
 }

 #second-header {
    padding-bottom:40px;
    font-size: 36px;
    font-weight: 900;
 }

 .box {
    height: 150px;
    width:150px;
    border: 4px solid #3882F6;
    border-radius: 20px;    
}

.second_content {
    display:flex;
    justify-content: center;
    padding-top: 4px;
}

.box_and_text {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.text{
    display:flex;
    justify-self: center;
    flex-wrap: wrap;    
}

.second {
    text-align: center;
    padding: 40px 60px;}

.third{
    background-color:#E5E7EB;
    padding: 40px 60px;
    }

#quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align:center;

}

#thor {
    font-size: 20px;
    font-weight:bold;
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
}

.fourth {
    display:flex;
    padding: 40px 60px;
    background-color: #3882F6;
    justify-content:space-between;   
}

.fourth_content{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
}

body {
    display:flex;
    flex-direction: column;
    flex: 1;
}

   


.fourth_header {
    font-size: 24px;
    color: #F9FAF8; 
    text-align: flex-start;
}

.subtext {
    min-width: 500px;   
}

.footer {
    display: flex;
    background-color: #1F2937;
    font-size: 12px;
    height: 50px;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 15px 60px;
}
.fourth > .button_container > button {
    border: 3px solid #F9FAF8;}
   
